@font-face {
  font-family: "Fraunces";
  src: url("/public/assets/fonts/Fraunces-VaraiableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Barlow";
  src: url("/public/assets/fonts/Barlow-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Barlow";
  src: url("/public/assets/fonts/Barlow-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Barlow";
  src: url("/public/assets/fonts/Barlow-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Barlow";
  src: url("/public/assets/fonts/Barlow-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Barlow";
  src: url("/public/assets/fonts/Barlow-Black.ttf") format("truetype");
  font-weight: 900;
}
